/* h1{
    color: rgb(40, 9, 218);
    font-size: 28px;
    margin-left: 50px;
    margin-top: 70px;

} */

/* .classH1{
    background-color: rgb(103, 196, 10);
    color: white;
} */

span{display: block;}

p{display: inline;}

.Container{
    background-color: green;
    }
#btn{
    height: 40px;
    background-color: aqua;
    width: 200px;
    color: red;
    font-size: 30px;
    margin: 0 auto;
    display: block;

}
p{color: blue;}



